extends layout

block content
    div.col(style="text-align: center")
        h3.mb-1.pt-3 Lista Pokemonów (Dotyczy tylko danego regionu)
        div.dropdown.m-3
            button.btn.btn-danger.dropdown-toggle.btn-lg(type="button" data-bs-toggle="dropdown" aria-expanded="false") Wybierz Generacje Pokemonów
            ul.dropdown-menu
                li
                    a.dropdown-item(href="/pokedex/pokemons?generation=1") Generacja 1
                    a.dropdown-item(href="/pokedex/pokemons?generation=2") Generacja 2
                    a.dropdown-item(href="/pokedex/pokemons?generation=3") Generacja 3
                    a.dropdown-item(href="/pokedex/pokemons?generation=4") Generacja 4
                    a.dropdown-item(href="/pokedex/pokemons?generation=5") Generacja 5
                    a.dropdown-item(href="/pokedex/pokemons?generation=6") Generacja 6
                    a.dropdown-item(href="/pokedex/pokemons?generation=7") Generacja 7
                    a.dropdown-item(href="/pokedex/pokemons?generation=8") Generacja 8
                    a.dropdown-item(href="/pokedex/pokemons?generation=9") Generacja 9
        h3.mb-1 Region w którym występują poniższe pokemony:
        h2.mb-4 #{region}
    div.container.d-flex.justify-content-center(style="text-align: center")
        table.table.table-striped.table-bordered
            thead
                tr
                    th(scope="col")
                        h3(style="font-weight: bold") LP
                    th(scope="col")
                        h3(style="font-weight: bold") Nazwa
                    th(scope="col")
                        h3(style="font-weight: bold") Pokemon
            tbody
                - let i=0
                each pokemon in pokemony
                    - i += 1
                    tr
                        td.align-middle #{i}
                        td.align-middle
                            p.fs-4
                                - const link = '/pokedex/' + pokemon.name
                                a(href=link) #{pokemon.name}
                        td
                            img(src=pokemon.url alt=pokemon.name)