extends pokedex

block additionalScripts
    script.
        window.onload = function () {
            // Umiejętności
            try{
                abilities = document.querySelectorAll('.addDescription');
                abilities.forEach(ability => {
                    fetch("https://pokeapi.co/api/v2/ability/" + ability.innerHTML)
                        .then(res => res.json())
                        .then(res => {
                            let text = "";

                            res.effect_entries.forEach(effect => {
                                if (effect.language.name === "en") {
                                    text = effect.effect;
                                }
                            })
                            return text;

                        }).then(res => {
                        ability.setAttribute("data-bs-content", res);
                        afterFetching();
                    })
                })
            }catch(error)
            {
                document.querySelectorAll('.addDescription').forEach(
                    effect => effect.setAttribute("data-bs-content", "Bład Pobierania Danych")
                )
            }

            // Ewolucje
            try{
                fetch("https://pokeapi.co/api/v2/pokemon-species/" + #{id})
                    .then((res => res.json()))
                    .then(res => fetch(res.evolution_chain.url))
                    .then(res => res.json())
                    .then((res) => {
                        let chainSpecies = res.chain;
                        console.log(chainSpecies);
                        while (chainSpecies.species.name !== document.getElementById("name").innerHTML.toLowerCase()) {
                            chainSpecies = chainSpecies.evolves_to[0];
                        }

                        return chainSpecies.evolves_to
                    })
                    .then( chain => {

                        let evolNum = chain.length;
                        let evolutionLists = document.getElementById("Evolutions");

                        if (evolNum > 0)
                        {
                            document.getElementById('removeable').remove();
                        }

                        for(let i=0; i< evolNum; ++i)
                        {
                            let elem = document.createElement('li');
                            let innerElem = document.createElement('a');
                            innerElem.setAttribute('href', `${chain[i].species.name}`);
                            innerElem.classList.add('pe-2');
                            innerElem.innerHTML = `${chain[i].species.name}`;
                            elem.appendChild(innerElem);
                            evolutionLists.appendChild(elem);
                        }

                        return evolutionLists;
                        })
                    .then(res => {
                        res.childNodes.forEach(child => {
                            let elem = document.createElement('img');
                            fetch('https://pokeapi.co/api/v2/pokemon/' + String(child.lastChild).split('/')[4])
                            .then(res => res.json())
                            .then(res => res.sprites.front_default)
                            .then(url => {
                                elem.setAttribute('src', url);
                                child.appendChild(elem);
                            })

                        })
                    })

            }catch(error){
                document.getElementById("addEvolutionName").innerHTML = #{title};
                document.getElementById("addEvolutionImage").setAttribute("hidden", 'true');
            }

            function afterFetching() {
                var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="popover"]'));
                popoverTriggerList.map(function (popoverTriggerEl) {
                    return new bootstrap.Popover(popoverTriggerEl);
                });
            }
        }

block info
    div.row.d-flex.justify-content-center
        table.table.table-success.border-4
            tbody
                tr
                    td.align-middle
                        p.fs-3(style="font-weight: bold" id='name') #{title}
                        p.fs-4 Bazowe Statystyki
                        table.table.table-striped.table-bordered
                            tbody
                                each stat in stats
                                    tr
                                        td.align-middle
                                            p.m-0 #{stat.stat.name}
                                        td.align-middle
                                            p.m-0 #{stat.base_stat}
                    td
                        div.row
                            div.col-12.col-lg-6.m-0
                                img.col-6.m-0.p-0(src=spriteUrl.front_default, alt=title)
                                img.col-6.m-0.p-0(src=spriteUrl.back_default, alt=title)
                                i.p-0 zwykły
                            div.col-12.col-lg-6.m-0
                                img.col-6.m-0.p-0(src=spriteUrl.front_shiny, alt=title)
                                img.col-6.m-0.p-0(src=spriteUrl.back_shiny, alt=title)
                                i.p-0 shiny
                tr
                    td(colspan=2)
                        ul.fs-3.p-0
                            li
                                span inne statystyki:
                            li
                                span ID: #{id}
                            li
                                - var w = weight/10
                                span Waga: #{w}kg
                            li
                                - var z = height / 10
                                span Wzrost: #{z}m
                            li
                                span Typy:&nbsp
                                each type in types
                                    span #{type.type.name}&nbsp
                            li
                                span Umiejętności:&nbsp
                                ul.d-flex.flex-lg-row.flex-column.justify-content-center.p-0
                                    each ability in abilities
                                        li
                                            a.addDescription.pe-2(data-bs-trigger="hover",  data-toggle="popover", data-bs-placement="bottom",
                                                title="Opis Umiejętności", data-bs-content="Opis...") #{ability.ability.name}
                            li
                                span Ewolucje:
                                ul.d-flex.flex-lg-row.flex-column.justify-content-center.p-0(id="Evolutions")
                                    p(id="removeable") Brak


